.about-us {
    min-height: calc(100vh - 45px);
}

.about__content-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
    background-color: var(--primary-color);
    position: relative;
    top: -5rem;
    z-index: 100;
    border-radius: 10px 10px 10px 100px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); 
}

.mission-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.col-left, .col-right {
    flex: 1;
    min-width: 300px;
    margin: 10px 0;
    position: relative;
    padding: 3rem;
}

.col-left {
    margin-right: 2rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-right img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.col-left p {
    letter-spacing: -.03em;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3;
    word-break: keep-all;
}

.mission-title {
    opacity: 0.7;;
    color: var(--accent-color);
}

.about__lawyers {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about__lawyers h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: -4rem;
    margin-bottom: 75px;
    position: relative;
    color: var(--primary-color);
}

.about__lawyers h2::after {
    content: '';
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%);
    width: 60px; 
    height: 4px; 
    background-color: var(--secondary-color); 
}

.lawyer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 100%;
    margin: auto;
    padding: 10px 0 10px 35px;
    height: auto;
    margin-bottom: 100px;
}

.card__info {
    display: flex;
    align-items: top;
    gap: 10px;
}

.card__content {
    display: flex;
    align-items: center;
   
}

.card__banner {
    width: 300px;
    margin-right: 3rem; 
}

.card__banner .img1,
.card__banner .img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.06);
}

.card__banner .img1 {
    border-radius: 20px 0 0 20px; 
}

.card__banner .img2 {
    border-radius: 0px 20px 20px 0px;
}

.reverse {
    flex-direction: row-reverse;
}

.card__text {
    flex: 1; 
}

.reverse-text {
    /* margin-left: 15px; */
    margin-right: 30px;
}

.card__text h3 {
    font-size: 34px;
    color: var(--secondary-color);
}

.card__name { 
    margin: 10px 0 0 0;
    font-weight: 900;
}


.card__description {
    font-size: 1.1rem;
    margin: 15px 0 0 0;
    overflow: hidden;
    line-height: 1.5em;
    text-overflow: ellipsis;
    position: relative; 
}

/* .card__extra-content {
    display: none;
    transition: height 0.3s ease; 
} */

.card__extra-content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 3s ease, opacity 0.3s ease;
}



.card__description::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), var(--accent-color));
}



.read-more {
    border: 1px solid var(--black-200);
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: inherit;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    padding: 5px 35px;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    /* Transition properties for smoother hover effects */
    transition: background-color 0.3s ease-in-out, 
                color 0.3s ease-in-out, 
                opacity 0.3s ease-in-out, 
                box-shadow 0.3s ease-in-out, 
                transform 0.3s ease-in-out;
    z-index: 1;
}

.read-more:hover {
    background-color: var(--primary-color);
    color: var(--accent-color);
    opacity: 0.8;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.05) rotate(-3deg);
}

.read-more:active {
    transform: scale(0.95) rotate(-3deg);
}



.read-more span {
    position: relative;
    z-index: 2;
}


.card__links {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
    z-index: 100;
    padding: 0 0 10px 0px;
}

.card__icon .linkedin,
.card__icon .mail {
    color: inherit;
    text-decoration: none;
    font-size: 2em;
    display: inline-block; 
}

.card__icon .mail {
    transition: all 0.3s ease-in-out;
    color: #dd4b39;.card {
        display: flex;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        max-width: 600px;
        margin: auto;
        padding: 10px;
        height: auto;
        flex-direction: column;
    }
    
    .card__banner {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .card__banner img {
        width: 80px;
        height: 80px; 
        object-fit: cover;

        margin-right: 15px; 
    }
    
    .card__banner .card__name {
        font-size: 1.5rem;
        margin: 0;
    }
    
    .card__content {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        flex: 2;
        position: relative;
    }
    
    .card__name {
        font-size: 1.5rem;
        margin: 10px 0 0 0;
    }
    
    .card__description {
        font-size: 1rem;
        margin: 15px 0 0 0;
        overflow: hidden; 
        line-height: 1.2em;
        text-overflow: ellipsis;
    }
    
    .card__extra-content {
        padding: 20px;
        background-color: #f9f9f9;
        margin-top: 10px;
    }
    
    .extra-section {
        margin-bottom: 20px;
    }
    
    .extra-section h4 {
        font-size: 1.2rem;
        color: #333;
        margin-bottom: 10px;
    }
    
    .extra-section p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 10px;
    }
    
    .extra-section ul {
        list-style-type: disc;
        margin-left: 20px;
        font-size: 1rem;
        line-height: 1.6;
    }
    
    .extra-section ul li {
        margin-bottom: 5px;
    }
    
    @media (max-width: 600px) {
        .card {
            max-width: 100%;
            width: 100%; 
            padding: 5px; 
        }
    
        .card__banner img {
            width: 60px; 
            height: 60px;
            margin-right: 10px; 
        }
    
        .card__banner .card__name {
            font-size: 1.2rem;
        }
    
        .card__description {
            font-size: 0.9rem; 
            margin-top: 10px; 
        }
    
        .card__extra-content {
            padding: 15px; 
        }
    
        .extra-section h4 {
            font-size: 1rem; 
        }
    
        .extra-section p,
        .extra-section ul {
            font-size: 0.85rem; 
        }
    }
    
}

.card__icon .linkedin {
    transition: all 0.3s ease-in-out;
    color: #0077b5;
}

.card__icon .mail:hover,
.card__icon .linkedin:hover {
    opacity: 0.8;
    transform: rotate(22deg);
}

.card__extra-content {
    margin-top: 2rem;
    padding: 10px;
}

.extra-section {
    margin-bottom: 20px;
}

.extra-section h4 {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.extra-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    font-family: var(--rubik);
}

.extra-section ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 1rem;
    line-height: 1.6;
}

.extra-section ul li {
    margin-bottom: 5px;
}


@media (max-width: 600px) {
    .card {
        max-width: 100%;
        width: 100%; 
        padding: 5px; 
    }

    .card__banner img {
        width: 60px; 
        height: 60px;
        margin-right: 10px; 
    }

    .card__banner .card__name {
        font-size: 1.2rem; 
    }

    .card__description {
        font-size: 0.9rem; 
        margin-top: 10px; 
    }

    .card__extra-content {
        padding: 15px; 
    }

    .extra-section h4 {
        font-size: 1rem; 
    }

    .extra-section p,
    .extra-section ul {
        font-size: 0.85rem;
    }
}


