/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

}



/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  background-color: rgba(255,255,255,0.25);
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.header.hidden {
  transform: translateY(-100%);
}

/*=============== NAV ===============*/
.nav {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--header-height);
  z-index: 2;
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.5s ease; 
  font-family: var(--mukta);
}

.nav__logo:hover {
  color: var(--accent-color); 
  text-shadow: 0px 00px 6px var(--black-200);
  
}

.nav__logo .name {
  font-size: 36px;
  font-weight: bold; 
}

.nav__logo .name span {
  font-size: 24px;
  vertical-align: middle;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  right: 0;
  filter: drop-shadow(0px -2px 4px rgba(0, 0, 0, 0.5));

}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
  color: var(--primary-color);
}

.nav__link.contact {
  display: none;
}
.nav__link, .contact {
  cursor: pointer;
}

.nav__close {
  opacity: 0;
}
.contact {
  display: none;
}

.nav__contact button {
  animation: 1.5s ease infinite alternate running shimmer;
  /* background: linear-gradient(90deg, #FFE27D 0%, #64E3FF 30%, #9192FF 85%); */
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color-light) 30%, var(--primary-color-lighten) 85%);
  background-size: 200% 100%;
  border: none;
  border-radius: 6px;
  box-shadow: -2px -2px 10px rgba(126, 197, 255, 0.612), 2px 2px 10px rgba(144, 196, 255, 0.564);
  color: var(--accent-color);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 670;
  line-height: 24px;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
}

.nav__contact svg {
  left: -20px;
  opacity: 0.5;
  position: absolute;
  top: -2px;
  transition: 0.5s cubic-bezier(.5, -0.5, .5, 1.5);
}

.nav__contact button:hover svg {
  opacity: 0.8;
  transform: translateX(50px) scale(1.5);
}

.nav__contact button:hover {
  transform: rotate(-3deg);
}

.nav__contact button:active {
  transform: scale(0.95) rotate(-3deg);
}

@media screen and (max-width: 1315px){
  .nav__logo .name {
    font-size: 24px;
    margin-right: 4rem;
  }
  
  .nav__logo .name span {
    font-size: 12px;
  }
  
}

@media screen and (max-width: 1200px) and (min-width: 1160px) {
  .nav__logo .name {
    /* font-size: 20px; */
    margin-right: 4rem;
  }
  
}

@media screen and (max-width: 1160px){
  .nav__logo .name {
    font-size: 23px;
    margin-right: 4rem;
  }

  .nav__link:nth-child(3) {
    margin-right: 50px;
  }
  

  .nav__contact button {
    font-size: 12px;
    padding: 5px 25px;
    font-weight: 800;

  }
  
}
/* Navigation for mobile devices */
@media screen and (max-width: 1200px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--primary-color);
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }

  /* Show submenus on hover */
  .dropdown__item:hover .dropdown__menu, 
  .dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
  }



  .nav__data {
    display: flex;
    width: 100%;
    margin-right: 10px;
  }

  .nav__contact {
    display: none;
  }

  .nav__link.contact {
    display: flex;
  }

  .nav {
    max-width: 100%;
  }
  .nav__logo {
    margin-left: 10px;
  }

  .nav__link {
    color: var(--accent-color);
  }
}

.nav__link {
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
  position: relative;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--primary-color-light);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  font-size: 12px;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--primary-color);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 10px;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--primary-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: auto;
  }
  
}

/* For large devices */
@media screen and (min-width: 1200px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 5rem;
    letter-spacing: 1px;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
    color: var(--primary-color);

  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
    padding: 5rem 0;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: -1.4rem;
    left: 0px;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: -5rem;
    pointer-events: initial;
    transition: top .3s;
  }
}


@keyframes shimmer {
  to {
    background-size: 100% 100%;
    box-shadow: -2px -2px 6px rgba(126, 197, 255, 0.612), 2px 2px 6px rgba(144, 196, 255, 0.564);

  }
}

