.hero {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 45px);
    background-image: linear-gradient(rgba(75, 131, 183, 0.45), rgba(9, 0, 77, 0.65)), url(../assets/herobackground.png);
    background-size: cover;
    background-position: right center;
    padding: 10px 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/herobackground.png);
    background-size: cover;
    z-index: -1;
    transform: translateZ(0);
}

.hero .container {
    position: relative;
    z-index: 1;
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: auto;

}

.hero .container img {
    width: 100%;
    max-width: 700px;
    height: auto;
    flex: 1;
    position: relative; /* Ensure img remains in document flow for correct stacking */
    z-index: 2; /* Place img above svg */
}

.hero-text {
    flex-grow: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure text remains in document flow */
    z-index: 2; /* Place text above img and svg */
}

.typewrite {
    color: var(--accent-color);
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 2.8rem;
}

.hero__title {
    font-size: 3rem;
    align-items: center;
    margin-bottom: 8px;
}

.hero-text p {
    font-size: 1.4rem;
    margin-top: 12px;
    margin-bottom: 24px;
    font-family: var(--raleway);
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--accent-color);
    opacity: 0.8;
}

.practice-areas-btn {
    background-color: #e33031;
    border-radius: 0px 50px 50px 0px;
    box-shadow: rgba(227, 48, 49, 0.2) 0 -25px 18px -14px inset, rgba(227, 48, 49, 0.15) 0 1px 2px, rgba(227, 48, 49, 0.15) 0 2px 4px, rgba(227, 48, 49, 0.15) 0 4px 8px, rgba(227, 48, 49, 0.15) 0 8px 16px, rgba(227, 48, 49, 0.15) 0 16px 32px;
    color: var(--accent-color);
    cursor: pointer;
    display: inline-block;
    font-family: var(--raleway);
    font-weight: 700;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 8px;
    transition: transform 1.5s ease, box-shadow 250ms ease-in-out, opacity 0.5s ease;
    border: 0;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    transform: translateX(-100%);
} 

.practice-areas-btn.visible {
    opacity: 1;
    transform: translateX(0);
}

.practice-areas-btn:hover {
    box-shadow: rgba(227, 48, 49, 0.35) 0 -25px 18px -14px inset, rgba(227, 48, 49, 0.25) 0 1px 2px, rgba(227, 48, 49, 0.25) 0 2px 4px, rgba(227, 48, 49, 0.25) 0 4px 8px, rgba(227, 48, 49, 0.25) 0 8px 16px, rgba(227, 48, 49, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-3deg);
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .hero__title {
        font-size: 2rem;
    }

    .hero__intro {
        font-size: 1rem;
    }

    .hero__right h2 {
        font-size: 1.8rem;
    }

    .hero__right li {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1118px) {
    .hero {
        background-position: center 35%;
    }
}
